name: build-all-containers

on:
  push:
    branches:
      - "master"

  # Allow workflow to be manually run from the GitHub UI
  workflow_dispatch:

  # Daily build
  schedule:
    - cron: "0 2 * * *"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: nginx-pagespeed
            folder: nginx-pagespeed
            arch: [linux/amd64]
            targets:
              primary:
                name: ~
                tags: phpdockerio/nginx-pagespeed:latest
              secondary: ~
              tertiary: ~

          - name: php72
            folder: php/7.2
            arch: [linux/amd64, linux/arm64, linux/arm/v7]
            targets:
              primary:
                name: cli
                tags: phpdockerio/php:7.2-cli,phpdockerio/php72-cli:latest
              secondary:
                name: fpm
                tags: phpdockerio/php:7.2-fpm,phpdockerio/php72-fpm:latest
                repo_name: php72-fpm
                tag: latest
              tertiary: ~

          - name: php73
            folder: php/7.3
            arch: [linux/amd64, linux/arm64, linux/arm/v7]
            targets:
              primary:
                name: cli
                tags: phpdockerio/php:7.3-cli,phpdockerio/php73-cli:latest
              secondary:
                name: fpm
                tags: phpdockerio/php:7.3-fpm,phpdockerio/php73-fpm:latest
              tertiary: ~

          - name: php74
            folder: php/7.4
            arch: [linux/amd64, linux/arm64, linux/arm/v7]
            targets:
              primary:
                name: cli
                tags: phpdockerio/php:7.4-cli,phpdockerio/php74-cli:latest
              secondary:
                name: fpm
                tags: phpdockerio/php:7.4-fpm,phpdockerio/php74-fpm:latest
              tertiary:
                name: swoole
                tags: phpdockerio/php74-swoole:latest

          - name: php80
            folder: php/8.0
            arch: [linux/amd64, linux/arm64, linux/arm/v7]
            targets:
              primary:
                name: cli
                tags: phpdockerio/php:8.0-cli,phpdockerio/php80-cli:latest
              secondary:
                name: fpm
                tags: phpdockerio/php:8.0-fpm,phpdockerio/php80-fpm:latest
              tertiary:
                name: swoole
                tags: phpdockerio/php80-swoole:latest

          - name: php81
            folder: php/8.1
            arch: [linux/amd64, linux/arm64, linux/arm/v7]
            targets:
              primary:
                name: cli
                tags: phpdockerio/php:8.1-cli,phpdockerio/php81-cli:latest
              secondary:
                name: fpm
                tags: phpdockerio/php:8.1-fpm,phpdockerio/php81-fpm:latest
              tertiary: ~

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push primary container
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.folder }}
          platforms: ${{ join(matrix.arch, ',') }}
          push: true
          pull: true
          tags: ${{ matrix.targets.primary.tags }}
          target: ${{ matrix.targets.primary.name }}

      - name: Build and push secondary container
        if: matrix.targets.secondary
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.folder }}
          platforms: ${{ join(matrix.arch, ',') }}
          push: true
          pull: true
          tags: ${{ matrix.targets.secondary.tags }}
          target: ${{ matrix.targets.secondary.name }}

      - name: Build and push tertiary container
        if: matrix.targets.tertiary
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.folder }}
          platforms: ${{ join(matrix.arch, ',') }}
          push: true
          pull: true
          tags: ${{ matrix.targets.tertiary.tags }}
          target: ${{ matrix.targets.tertiary.name }}
